<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'timetable/style.css' %}">
    <link rel="stylesheet" href="{% static 'timetable/bootstrap4/css/bootstrap.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Расписание <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ date }}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        </div>
    </nav>
    <div class="container mt-2">
        {% block content %} {% endblock %}
    </div>

</body>

<script src="{% static 'timetable/bootstrap4/js/jquery3.2.1.js' %}"></script>
<script src="{% static 'timetable/bootstrap4/js/bootstrap.js' %}"></script>
</html>