{% extends 'timetable/base.html' %}
{% load static %}

{% block title %} Расписание {% endblock %}

{% block content %}
    {% if workers_list %}
        <ul class="list-group list-group-flush">
            {% for worker, online in workers_list %}
                <li class="list-group-item list-group-item-action">
                    {% if online %}
                        <img class="online-status" src="{% static 'timetable/img/green-circle-button.png' %}"
                             alt="online">
                    {% else %}
                        <img class="online-status" src="{% static 'timetable/img/red-circle-button.png' %}"
                             alt="offline">
                    {% endif %}
                    <a class="ml-4" href="/{{ worker.id }}/">{{ worker.last_name }} {{ worker.first_name }}</a>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>В базе данных нет работников</p>
    {% endif %}
{% endblock %}