{% extends 'timetable/base.html' %}

{% block title %} Расписание {% endblock %}

{% block content %}
    {% if workers_list %}
        <ul class="list-group list-group-flush">
            {% for worker in workers_list %}
                <li class="list-group-item">
                    <a href="/{{ worker.id }}/">{{ worker.last_name }} {{ worker.first_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>В базе данных нет работников</p>
    {% endif %}
{% endblock %}