{% extends "timetable/base.html" %}
{% block title %} {{ object.last_name }} {{ object.first_name }}{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col"></th>
            {% for day in display_days %}
                <th scope="col" class="text-center">{{ day }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for name, hour in table.items %}
            <tr>
                <th class="text-center" scope="row">{{ name }}</th>
                {% for day in  hour %}
                    <td class="text-center">
                        {{ day }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="text-center">
        <ul class="list-group">
            <li class="list-group-item">
                {% if hours_sum.0 == hours_sum.1 %}
                    Суммарно часов: {{ hours_sum.0 }}
                {% else %}
                    Нечетная неделя: {{ hours_sum.0 }}<br>
                    Четная неделя: {{ hours_sum.1 }}<br>
                    В среднем: {{ hours_average }}
                {% endif %}
            </li>
            <li class="list-group-item">
                <a href="/{{ object.id }}/holiday">Отпуска</a>
            </li>
        </ul>

    </div>

{% endblock %}