{% extends "timetable/base.html" %}
{% block title %} {{ object.last_name }} {{ object.first_name }}{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col"></th>
            {% for day in object.day_set.all %}
                <th scope="col" class="text-center">{{ day.get_weekday_display }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for name, hour in table.items %}
            <tr>
                <th class="text-center" scope="row">{{ name }}</th>
                {% for day in  hour %}
                    <td class="text-center">
                        {{ day }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}